[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = aimprohub
	email = 46415898+aimprohub@users.noreply.github.com
