{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<style>
    .well {
       
        opacity:0.9;
    }
    .bg-image{
      background-image: url("{% static 'images/6.jpg' %}");
      background-position: center;
      background-repeat: inherit;
      background-size: cover;
      position: relative;
      height: 800px;
      width: 1150px;
      background-color: #cccccc;
    }
    table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  
  
}
table * {
  position: center;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: center;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  font-weight: unset;

}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}


  </style>


<body class="bg-image"> 

<div class="container card-style">
  <h2>License Agreement for Mass Employee Check</h2>
  *Specialized Employee Attrition Prediction*
  >Please make sure you have agreed with the insituition before uploading any 
      confidential data of employees and make sure it does not violate Privacy Rights. 
  
      
     <p> <input type="checkbox"> I have read all Terms and Conditions and wish to share my Private Organizational data in this platform
        </p>
    </div>
    <br>
    <br>
    

  <div class="well">

    <div class="card" style="background-color:cadetblue; border-color:darkblue;">
      <img class="card-img-top" src="holder.js/100x180/" alt="">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        
      </div>
    </div>
    


    
      {% comment %} <table>
          <tr>
            <th>MonthlyIncome</th>
            <th>Rate</th>
            <th>Age</th>
            <th>Overtime</th>
            <th>TotalWorkingHours</th>
            <th>YearsAtCompany</th>
            <th>YearsInCurrentRole</th>
            <th>DistanceFromHome</th>
            
          </tr>
         
          <tbody>
            <tr>
              <td scope="row">5993</td>
              <td>56599</td>
              <td>41</td>
              <td>1</td>
              <td>8</td>
              <td>6</td>
              <td>6</td>
              <td>5</td>
            </tr>

            <tr>
              <td scope="row">5993</td>
              <td>56599</td>
              <td>41</td>
              <td>1</td>
              <td>8</td>
              <td>6</td>
              <td>6</td>
              <td>5</td>
            </tr>

            <tr>
              <td scope="row">5993</td>
              <td>56599</td>
              <td>41</td>
              <td>1</td>
              <td>8</td>
              <td>6</td>
              <td>6</td>
              <td>5</td>
            </tr>

            <tr>
              <td scope="row">5993</td>
              <td>56599</td>
              <td>41</td>
              <td>1</td>
              <td>8</td>
              <td>6</td>
              <td>6</td>
              <td>5</td>
            </tr>
           
          </tbody>
      </table> {% endcomment %}



{% comment %} <div class="card" style="background-color:white; border-color:darkblue;">
  <img class="card-img-top" src="holder.js/100x180/" alt="">
  <div class="card-body">
    <h4 class="card-title">Title</h4>
    <p>Select local CSV File:</p>
<form action="read/" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
<input type="file" name="document"><br>
    <button class="btn btn1" type="submit">upload</button>
    </form>
    <p class="card-text">Text</p>
  </div>
</div> {% endcomment %}


<br>


<div class="jumbotron jumbotron-fluid card-style">
  <div class="container">
    <h3>Uploading Scheme</h3><br>
    <form action="upload2/" method="POST" >
    {% csrf_token%}
    <i>Provide with current employee data as well as previous employee data</i><br>
    <button type="submit" class="btn btn-primary" value="Predict">Multi File Upload</button>
    </form>
    <br>
    <br>
    <hr class="my-2">
    
    <p class="lead">
      {% comment %} <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a> {% endcomment %}
    <form action="upload1/" method="POST" >
    {% csrf_token%}
    <i>Provide with current employee data only</i><br>
    <button type="submit" class="btn btn-primary" value="Predict">Single File Upload</button>
</form>
    </p>
  </div>
</div>


    
  </body>
  
{% endblock content%}