{% extends 'blog/base.html' %}
{% block content %}
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    .well {
        background-color:#374b80;
        color:white;
    }
    body{
        background-image: url(blog/abc.png);
        background-size: cover;
        background-attachment: fixed;
    }


  </style>


</head>
<body> 

<div class="container">
  <h2>License Agreement for Mass Employee Check</h2>
  <div class="well">*Specialized Employee Attrition Prediction*</div>
  <div class="well well-lg">Please make sure you have agreed with the insituition before uploading any 
      confidential data of employees and make sure it does not violate Privacy Rights. 
  <div class="form-group row">
      
     <p> <input type="checkbox"> I have read all Terms and Conditions and wish to share my Private Organizational data in this platform
        </p>
    </div>
    <br>
    <br>
    <i class="fas fa-engine-warning    ">Please make sure your data is in format like below</i>
      <table class="table table-stripped table-inverse table-responsive" cellpadding=30>
        <thead class="thead-inverse">
          <tr>
            <th>Employee name</th>
            <th>Salary</th>
            <th>Distance from home</th>
            <th>Wrok Env</th>
            <th>Promotion</th>
            <th>maritial stats</th>
            <th>Experience</th>
            <th>Satisfaction</th>
            
          </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">4</td>
              <td>5</td>
              <td>6</td>
              <td>5</td>
              <td>6</td>
              <td>5</td>
              <td>6</td>
              <td>5</td>
            
              
            </tr>
           
          </tbody>
      </table>



<p>Select local CSV File:</p>
<form action="read/" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
<input type="file" name="document"><br>
    <button class="btn btn1" type="submit">upload</button>
    </form>

    

    
  </body>
{% endblock content%}